* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff7ed;
    align-items: center;

}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #b91c1c;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #f97316;
}

/* Hero */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/Banku\ &\ Tilapia.jpj.jpg');
    height: 46vh;
    color: white;
    text-align: center;
}

.hero button {
    background: #f97316;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}

/* Cards */
.section-title {
    text-align: center;
    margin: 30px 0;
}

.food-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.food {
    background: white;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.food img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.food-content {
    padding: 15px;
    text-align: center;
}

/* Form */
.cont-form {

    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 200px;
}

.order-form {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 238px;
    margin-right: 238px;
}

.order{

    align-items: center;
    padding-left: 200px;

}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-top: 310px;
 
}

.foot{
    width: 10000px;
    height: 40px;
}

.contact{
    text-align: justify;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    
}



div.num{

    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    margin-left: 200px;

    

}


/* Responsive */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }
    .cotainerP{
        width: 100%;
        padding: 10px;
    }
}
